@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;


.form {
    background-image: url("images/61842.png");

    @include displayFlex(center,center);

    width: 100%;
    height: 100vh;
    gap: 80px;

    .form__gauche {
        width: 30%;
        height: 55vh;
        background-image: url("images/anh-nguyen-_Uqj5BQb-mw-unsplash.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;

        .vertical-line {
            position: absolute;
            background-color: $color-white;

            width: 6px;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        .horizontal-line {
            position: absolute;
            background-color: $color-white;

            width: 100%;
            height: 6px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .form__droite {
        width: 630px;
        height: 80vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .intro {

            h2 {
                font-size: $font-size-title;
                font-weight: $weight-title;
    
                color: $color-light-green;
                margin-bottom: 12px;
            }

            p {
                font-size: $font-size-body;
                font-weight: $weight-body;
    
                color: $color-dark-grey;
            }
        }

        form {
            .nom_prenom {
                display: flex;
                justify-content: space-around;
                gap: 16px;
                width: 630px;
                
                input {
                    width: 300px;
                }
            }

            .form_input {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 23px;
                    font-style: italic;
        
                    color: $color-light-green;

                    margin-bottom: 8px;
                }

                input {
                    margin-bottom: 12px;
                }

                textarea {
                    width: 100%;
                    height: 200px;
                    resize: none;
                }
            }
        }

        button {
            align-self: center;
            
            background-color: $color-light-green;
            color: $color-white;

            border: none;
            border-radius: 8px;

            font-weight: $weight-title;
            font-size: 24px;
            width: 250px;
        }
    }
}